<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aboutName</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>center</string>
		<key>Size</key>
		<string>13</string>
		<key>Shadow</key>
		<string>YES</string>
		<key>ShadowColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>aboutVersion</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>center</string>
		<key>Size</key>
		<string>14</string>
		<key>Color</key>
		<string>777777</string>
		<key>Shadow</key>
		<string>YES</string>
		<key>ShadowColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>aboutCopyRight</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>center</string>
		<key>Size</key>
		<string>9</string>
		<key>Color</key>
		<string>777777</string>
		<key>Shadow</key>
		<string>YES</string>
		<key>ShadowColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>TEST</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>center</string>
		<key>Size</key>
		<string>20</string>
	</dict>
	<key>copyRightDetails</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>justify</string>
		<key>Size</key>
		<string>10</string>
		<key>Color</key>
		<string>777777</string>
		<key>Shadow</key>
		<string>YES</string>
		<key>ShadowColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>LGB11</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>11</string>
	</dict>
	<key>LGB13</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>13</string>
	</dict>
	<key>LG11</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>11</string>
	</dict>
	<key>LG12</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>12</string>
	</dict>
	<key>LG12L</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>12</string>
		<key>Link</key>
		<string>www.juniper.net</string>
	</dict>
	<key>LG11L</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>11</string>
		<key>Link</key>
		<string>www.juniper.net</string>
	</dict>
	<key>LGB12</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>LineBreak</key>
		<string>Tail</string>
		<key>Size</key>
		<string>12</string>
	</dict>
	<key>LGB12Gray</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>LineBreak</key>
		<string>Tail</string>
		<key>Size</key>
		<string>12</string>
		<key>Color</key>
		<string>777777</string>
	</dict>
	<key>LG11C</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>11</string>
	</dict>
	<key>LG10</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>10</string>
	</dict>
	<key>LG10Gray3</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>12</string>
		<key>Color</key>
		<string>777777</string>
		<key>Shadow</key>
		<string>YES</string>
		<key>ShadowColor</key>
		<string>FFFFFF</string>
	</dict>
	<key>LGB13B</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>center</string>
		<key>Size</key>
		<string>13</string>
		<key>Color</key>
		<string>010000</string>
	</dict>
	<key>LG10FL15</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>10</string>
		<key>FirstLineHeadIndent</key>
		<integer>20</integer>
		<key>HeadIndent</key>
		<integer>20</integer>
		<key>ParagraphSpacingBefore</key>
		<integer>2</integer>
		<key>LineSpacing</key>
		<integer>5</integer>
		<key>Color</key>
		<string>999999</string>
		<key>LineBreak</key>
		<string>Tail</string>
	</dict>
	<key>LG10FL15Selected</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>10</string>
		<key>FirstLineHeadIndent</key>
		<integer>20</integer>
		<key>HeadIndent</key>
		<integer>20</integer>
		<key>ParagraphSpacingBefore</key>
		<integer>2</integer>
		<key>LineSpacing</key>
		<integer>5</integer>
		<key>LineBreak</key>
		<string>Tail</string>
	</dict>
	<key>LGB13FL15</key>
	<dict>
		<key>Font</key>
		<string>Lucida Grande Bold</string>
		<key>TextAlign</key>
		<string>left</string>
		<key>Size</key>
		<string>13</string>
		<key>FirstLineHeadIndent</key>
		<integer>20</integer>
		<key>HeadIndent</key>
		<integer>20</integer>
		<key>ParagraphSpacingBefore</key>
		<integer>5</integer>
		<key>LineBreak</key>
		<string>Tail</string>
	</dict>
	<key>Gray1</key>
	<dict>
		<key>Color</key>
		<string>FDFDFD</string>
	</dict>
	<key>Gray2</key>
	<dict>
		<key>Color</key>
		<string>E6E6E6</string>
	</dict>
	<key>Gray3</key>
	<dict>
		<key>Color</key>
		<string>CECECE</string>
	</dict>
	<key>OutlineViewHorizontalGrid</key>
	<dict>
		<key>Color</key>
		<string>C4C4C4</string>
	</dict>
	<key>BoxBorder</key>
	<dict>
		<key>Color</key>
		<string>C4C4C4</string>
	</dict>
	<key>ButtonBorder</key>
	<dict>
		<key>Color</key>
		<string>C4C4C4</string>
	</dict>
	<key>BottomBoxStart</key>
	<dict>
		<key>Color</key>
		<string>CECECE</string>
	</dict>
	<key>BottomBoxEnd</key>
	<dict>
		<key>Color</key>
		<string>969696</string>
	</dict>
</dict>
</plist>
